<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://img2.zol.com.cn/product/81/554/ceU3NKwhzHTW2.jpg</string>
	<string>http://s3.img.766.com/283/120229/1451/075176.jpg</string>
	<string>http://i4.hexunimg.cn/2012-02-29/138786563.jpg</string>
	<string>http://photocdn.sohu.com/20120229/Img336251538.jpg</string>
	<string>http://img2.zol.com.cn/product/81/553/cetO7AsMO32.jpg</string>
	<string>http://i3.hexunimg.cn/2012-02-29/138799384.jpg</string>
	<string>http://img1.gtimg.com/gamezone/pics/hv1/131/91/986/64137986.jpg</string>
	<string>http://x.limgs.cn/f1/c1/up201202/569bbd4bb1792f3ac93b9deae329438a.jpg</string>
	<string>http://img2.zol.com.cn/product/81/670/cel24uXkTYosE.jpg</string>
	<string>http://pic3.duowan.com/news/1202/194353181668/194353181678.jpg</string>
	<string>http://img.dahe.cn/hlimg/20120229/10488451235066525096.jpg</string>
</array>
</plist>
